<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Daily Weather Forecast</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
	</head>
	<body>
		<form action="/temperature">
			<div class="container shadow p-3 bg-white rounded" style="max-width: 500px;">
				<div class="row align-items-center justify-content-center" name="High">
					<div class="col p-3" name="high"><span class="font-weight-bold">High</span>: {{.Temperatures.High}}</div>
					<div class="col p-3" name="low"><span class="font-weight-bold">Low</span>: {{.Temperatures.Low}}</div>
				</div>
				<div class="row align-items-center justify-content-center">
					<div class="col p-3">
						<select class="form-control" name="latLong">
							{{range $k, $v := .CityMap}}
								<option value="{{$v}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="col p-3"><input class="btn btn-secondary" type="submit" value="Get Temperature"></div>
				</div>
			</div>
		</form>
	</body>
</html>
